__pycache__/
*.pyc
.pytest_cache/
simple_jukebox/logs/
.backups/
.venv*/
simple_jukebox/.venv/
simple_jukebox/media/*
!simple_jukebox/media/.gitkeep
!simple_jukebox/media/testmp3.mp3
node_modules/
Text2Speech/output/*
